.block.sf-about-us .sf-text-title {
    margin-bottom: 1.125rem;
    text-align: center;
    font-size: 1.46rem;
    font-family: Lato, sans-serif;
    line-height: 1.75rem;
    color: #164b91;
    text-transform: uppercase;
    font-weight: 550;
}

.block.sf-about-us .sf-text-subtitle {
    margin-bottom: 1.125rem;
    text-align: center;
    font-size: 1.125rem;
    font-family: Lato, sans-serif;
    font-weight: 375;
    line-height: 1.75rem;
    color: #164b91;
    padding: 0 0 0.93rem;
    position: relative;
}

.block.sf-about-us .sf-text-subtitle::after {
    position: absolute;
    width: 6.25rem;
    height: 0.0625rem;
    margin: 0 auto;
    content: '';
    background: #000;
    bottom: 0;
    left: 0;
    right: 0;
}

.block.sf-about-us .sf-text-content {
    word-wrap: break-word;
    font-size: 1rem;
    color: #000;
    font-weight: 300;
    font-family: Lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.375rem;
    padding: 0 1.875rem;
    position: relative;
    text-align: left;
}

.block.sf-about-us .toggle-read-button {
    display: block;
    width: fit-content;
    margin: 0.625rem auto 0;
    padding: 0.3125rem 1rem;
    border-radius: 0.0625rem;
    cursor: pointer;
    text-align: center;
    background: #164b91;
    border: 0.0625rem solid #164b91;
    font-size: 0.9rem;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    color: #FFF;
}

.block.sf-about-us .toggle-read-button:hover {
    background-color: #FFF;
    color: #164b91;
    border: 0.0625rem solid #164b91;
}
