.section.disclaimer-faq-container {
    padding: 2.187rem 0.937rem;
}

.block.disclaimer-faq {
    margin-top: 1.5rem;
}

.disclaimer-faq-container {
    background: var(--secondary-gray-50);
}

.block.disclaimer-faq .faq-title {
    margin-bottom: 1.125rem;
    text-align: left;
}

.block.disclaimer-faq .faq-title h2 {
    color: white;
    background-color: #005DAA; /* Blue background similar to the screenshot */
    padding: 20px;
    margin: 0;
    font-size: 24px;
    text-align: center;
}

/* Style the faq-list div */
.block.disclaimer-faq .faq-list {
    margin-right: 0.625rem;
}

.block.disclaimer-faq .faq-list details {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.block.disclaimer-faq .faq-list .faq-item-label {
    font-size: var(--body-font-size-xs);
    color: var(--secondary-gray-600);
    padding: 0.5rem 3rem 0.25rem 1.5rem;
    font-weight: 300;
    position: relative;
    display: block;
    cursor: pointer;
    border-bottom: 0.625rem;
    line-height: 1.4;
    font-family: var(--heading-font-family);
    -webkit-font-smoothing: antialiased;
}

.block.disclaimer-faq .faq-list .faq-item {
    background: var(--tertiary-white);
}

.block.disclaimer-faq summary::after {
    content: "+";
    position: absolute;
    font-style: normal;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 100;
    font-size: var(--heading-font-size-l);
    right: 1.125rem;
}

.block.disclaimer-faq details[open] summary::after {
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 0.05rem;
    background: currentcolor;
    vertical-align: middle;
}

.block.disclaimer-faq .faq-list .faq-item-body {
    word-wrap: break-word;
    padding: 0.5rem 1.875rem 0.25rem 1.5rem;
    font-size: 1rem;
    border-top: var(--secondary-gray-400) solid 1px;
    line-height: 1.4;
    color: var(--tertiary-black);
    font-weight: 300;
    font-family: var(--heading-font-family);
    -webkit-font-smoothing: antialiased;
}

.block.disclaimer-faq.faq-expanded .faq-list .faq-item,
.adobe-ue-edit .block.disclaimer-faq .faq-list .faq-item {
    display: block;
}

@media (width >= 768px) {
    .disclaimer-faq-container {
        background: var(--tertiary-white);
    }

    .block.disclaimer-faq {
        padding: 1rem 1rem 1rem 2.5rem;
    }

    .block.disclaimer-faq .faq-title {
        margin-bottom: 2rem;
    }

    .section.disclaimer-faq-container {
        padding: 2.187rem 0;
    }
}

@media (width >= 900px) {
    .section.disclaimer-faq-container {
        max-width: 1200px;
        margin: auto;
    }
}
